.skill-main{
    padding: 2rem;
}

.skill-main span{
    font-size: 1.2rem;
    font-weight: bold;
}

.skill-main h1{
    margin-bottom: 1rem;
}

.container-skills{
    padding: 2rem;
    display: flex;
    justify-content: center;
    gap: 10rem;
    text-align: center;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.skill img{
    width: 100px;
    height: 100px;
}

.skill-html span{
    display: none;
    width: 100px;
    padding: 0.4rem;
    margin-top: 1rem;
    background-color: #800080;
    border-radius: 10px;
    font-size: 0.9rem;
}

.skill-html:hover span{
    display: block;
    position: absolute;
}

@media (max-width:700px){
    .skill-html span{
        display: block;
    }
    .skill-main{
        text-align: center;
    }
    .container-skills{
        gap: 3.5rem;
    }
}